@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,800');
:root{
  font-size: 16px;
}

body {
  flex-direction: column;
  height: 100vh;
  background: rgb(45,34,221);
background: linear-gradient(322deg, rgba(45,34,221,1) 0%, rgba(142,22,212,1) 50%, rgba(186,12,83,1) 100%);

}
#header {
  padding-top: 0.2em;
  font-size: 3em;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #fff;
}
.data {
  color: #000;
  font-size: 2.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin-top: 100px;
}

.city {
  text-transform: uppercase;
}

#weather{
  align-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 300px;
}

.decsription {
  text-transform: capitalize;
  float: left;
}

#icon {
  height:2em;
  width: 2em;
  background-repeat: no-repeat;
  background-position: center;
  /* padding: 0.6em 0; */
  float: right;
}

.temperature {
  border: none;
  font-size: 0.9em;
  text-align: center;
  border: 1px solid black;
  cursor: pointer;
  padding: 9px;
  width: 150px;
}

p{
  font-size: 0.45em;
}

footer {
  text-align: center;
  border-top: 1px solid black;
  margin-top: 5em;
  padding-top: 10px;
  position: fixed;
  width: 100%;
  bottom: 2%;
}

footer a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}