@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,800');
:root{
  font-size: 16px;
}
*{
  padding: 0;
  margin: 0;
}

body {
  background: rgb(243, 161, 10);
  box-sizing: border-box;
  background-size: contain;

}

.container{
  width: 100%;
  display: grid;
  grid-template-columns: 15px 1fr 1fr 15px;
  grid-template-rows: 1fr repeat(4, 100px); 
  
}

#header {
  padding: 1rem;
  font-size: 6em;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
  grid-column: 2 / -2;
}

.city {
  text-transform: uppercase;
  grid-area: 2 / 2 / 3 / -2;
  text-align: center;
  align-self: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  font-size: 4rem;
  padding-top: 2rem;
}

.decsription {
  grid-area: 3 / 2 / 4 / 3;
  text-align: right;
  align-self: center;
  padding-right: 1rem; 
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  font-size: 4rem;
  /* margin: 0 auto; */
}

.temperature {
  grid-area: 4 / 2 / 5 / 4;
  text-align:center;
  padding-right: 1rem;
  align-self: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #000;
  font-size: 7rem;
  background: none;
  border: none;
  cursor: pointer;
}

#icons{
  grid-area: 3 / 3 / 4 / 3;
  padding-left: 1rem;
  align-self: center;
  /* margin: 0 auto; */
}

#icon{
  background-repeat: no-repeat;
  background-position: center;
  height: 5rem;
  width: 5rem;
  background-size: contain;
}

footer {
  display: flex;
  grid-column: 2 / -2;
  grid-row: 4 / -1;
  align-items: flex-end;
  margin: 0 auto; 
  padding-bottom: 2rem;
}

footer a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

@media (max-width: 768px){
  :root {
    font-size: 13px;
  }
}

@media (max-width: 520px){
  :root {
    font-size: 10px;
  }

}