@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,800');
:root{
  font-size: 16px;
}
*{
  padding: 0;
  margin: 0;
}

body {
  background: rgb(247, 40, 92);
  box-sizing: border-box;
  background-size: contain;

}

.container{
  width: 100%;
  display: grid;
  grid-template-columns: 15px 1fr 1fr 15px;
  grid-template-rows: auto;
  grid-template-areas: 
        ". header header ."
        ". city city ."
        ". description description ."
        ". icon . ."
        ". temperature temperature ."
        "footer footer footer footer"

  
}

#header {
  font-size: 6em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
  grid-area: header;
}

.city {
  text-transform: uppercase;
  grid-area: city;
  align-self: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  font-size: 4rem;
  padding-top: 2rem;
}

.decsription {
  grid-area: description;
  align-self: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  font-size: 3rem;
}

.temperature {
  grid-area: temperature;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #000;
  font-size: 6rem;
  cursor: pointer;
}

#icons{
  grid-area: icon;
  align-self: center;
}

#icon{
  background-repeat: no-repeat;
  height: 10rem;
  width: 100%;
  background-size: contain;
}

footer {
  display: flex;
  grid-area: footer;
  align-items: flex-end;
  margin-top: 1rem;
  margin: 0 auto; 
  padding-bottom: 2rem;
}

footer a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

@media (max-width: 768px){
  :root {
    font-size: 13px;
  }
}

@media (max-width: 520px){
  :root {
    font-size: 10px;
  }
  
}